<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a>CSS</a></li> 
      <li><a>HTML</a></li> 
      <li><a>Javascript</a></li> 
      <li><a>Ruby</a></li>
    </ul>
  </nav>
  <img src="assets/AA_Times_Logo.png" alt="logo" class="logo">
  <nav class="masthead-links">
    <time>Tuesday, October 18, 2016</time>
    <a>Today’s Paper</a>
    <a>Video</a>
    <button>77°F</button>
    <button>AAO +100%</button>
  </nav>
</header>